<% title "I Just Wanna Say..." %>

<!-- <%= embed_tag voice_path_for(@speech), :class => 'player', :controls => 'VOLUMELEVER'%> -->
<div id="player" class="player">
	<div id="speech">
		You need to have <%= link_to 'Flash Player', 'http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash' %> installed to display this video
	</div>
	<div id="urlForm" class="urlForm">
		<input id="link" class="link" type="text" value="<%= speech_url @speech %>" size="40" readonly="true" onClick="SelectAll('link')"/>
	</div>
</div>

<%= javascript_include_tag "swfobject" %>
<% javascript_tag :defer => 'defer' do -%>
	var flashvars = {
		"file": "<%= voice_path_for(@speech) %>",
		"autostart": "true",
		"provider": "sound",
		"bufferlength": "0",
	};
	var params = {
		"allowscriptaccess": "always" 
	};

	var attributes = {
	};

	swfobject.embedSWF("/flash/player.swf", 
					   "speech", 
					   "300", 
					   "24", 
					   "9.0.0",
					   "expressInstall.swf", 
					   flashvars, 
					   params, 
					   attributes
					  );
<% end-%>

<% javascript_tag do -%>
	function SelectAll(id)
	{
	    document.getElementById(id).focus();
	    document.getElementById(id).select();
	}
<% end -%>

