<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title><%= h(yield(:title) || "Untitled") %></title>
	<%= stylesheet_link_tag 'ijws', :media => 'screen'%>
	<!--[if lt IE 7]><%= stylesheet_link_tag 'ie' %><![endif]-->
	<!--[if lt IE 8]><%= stylesheet_link_tag 'ie8' %><![endif]-->
	<!--[if lt IE]>
	<%= javascript_include_tag 'DD_belatedPNG_0.0.7a.js' %>
	<%= javascript_include_tag 'png_fix_elements.js' %>
	<![endif]-->
	<%= javascript_include_tag "prototype" %>
</head>

<body>
	<div id="container">
		<div class="right">
			<p class="bubble">
				<span class="small">I just wanna say...</span>
				<%= yield %>
			</p>
		</div>
	</div>
	<hr/>
	<center><span class="small">Follow <a href="http://twitter.com/JingwenOwenOu">@JingwenOwenOu</a> for more info.</span></center>
</body>
</html>