<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title><%= h(yield(:title) || "Untitled") %></title>
	<%= auto_discovery_link_tag('image/x-icon', 'images/pingu_icon.png', :rel => 'shortcut icon') %>
	<%= stylesheet_link_tag 'ijws', :media => 'screen'%>
	<%= stylesheet_link_tag 'sexy_bookmarks', :media => 'screen'%>
	<%= stylesheet_link_tag 'pagination', :media => 'screen'%>
	<!--[if lt IE 7]><%= stylesheet_link_tag 'ie' %><![endif]-->
	<!--[if lt IE 8]><%= stylesheet_link_tag 'ie8' %><![endif]-->
	<!--[if IE]>
	<%= javascript_include_tag 'DD_belatedPNG_0.0.7a.js' %>
	<%= javascript_include_tag 'png_fix_elements.js' %>
	<![endif]-->
	<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js" %>
	<%= javascript_include_tag "swfobject" %>
	<%= javascript_include_tag "embedSWF" %>
	<%= javascript_include_tag 'google_analystics.js' %>
</head>

<body>
	<table cellspacing="0" class="main">
		<tbody>
			<tr>
				<td class="container">
					<div id="container">
						<table cellspacing="0" class="content">
							<tbody>
								<tr>
									<td class="title">
										<%= link_to image_tag("title.png", :border=>0, :alt => "I Just Wanna Say it"), root_path %>
									</td>
									<td>
										<div class="right">	
											<%= yield :layout %>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</td>
				<td class="sidebar">
					<%= render :partial => 'sidebar' %>						
				</td>
			</tr>
		</tbody>
	</table>
	<hr/>
	<center>
		<span>
			© 2010 ijws.it Beta.<br/>
			Created by <a href="http://twitter.com/JingwenOwenOu">@JingwenOwenOu</a>.
		</span>
	</center>
	<!-- BEGIN getsatisfaction CODE -->
	<script type="text/javascript" charset="utf-8">
	var is_ssl = ("https:" == document.location.protocol);
	var asset_host = is_ssl ? "https://s3.amazonaws.com/getsatisfaction.com/" : "http://s3.amazonaws.com/getsatisfaction.com/";
	document.write(unescape("%3Cscript src='" + asset_host + "javascripts/feedback-v2.js' type='text/javascript'%3E%3C/script%3E"));
	</script>

	<script type="text/javascript" charset="utf-8">
	var feedback_widget_options = {};
	feedback_widget_options.display = "overlay";  
	feedback_widget_options.company = "ijws";
	feedback_widget_options.placement = "left";
	feedback_widget_options.color = "#222";
	feedback_widget_options.style = "idea";
	var feedback_widget = new GSFN.feedback_widget(feedback_widget_options);
	</script>
	<!-- END getsatisfaction CODE -->
</body>
</html>